
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        @if (ViewBag.displayMenu == "Yes")
        {
            <h1>Welcome Admin-<strong>@ViewBag.Name</strong>!</h1>
            <h3>
                Please click button to continue to the Employee Overview page
                @Html.ActionLink("Employee Overview", "Admin", "EmpOverview")
            </h3>
        }
        else
        {
            <h2>Welcome <strong>@ViewBag.Name</strong></h2>
            <h3>
                Please click button to continue to the Employee Overview page
                @Html.ActionLink("Employee Overview", "Employee", "EmpOverview")
            </h3>
        }
    </div>
</body>
</html>
